<% include header %>

		<section class="main-content">
			<div class="row">
				<div class="span12">													
					<br/>
					<div class="row">
						<div class="span12">
							<h4 class="title">

								<span class="pull-left"><span class="text"><span class="line"><a href="product_detail.html"><strong>Các sản phẩm gần đây nhất</strong></a></span></span>
							</span>

							<span class="pull-right">
								<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
							</span>
						</h4>
						<div id="myCarousel-2" class="myCarousel carousel slide">
							<div class="carousel-inner">
								<!-- forr-->
								<div class="active item">
									<ul class="thumbnails">	
										<% danhsach.danhsachsv.forEach(function (motphantu){		%>
										<!-- bo lap -->	


										<li class="span3">
											<div class="product-box">
												<span class="sale_tag"></span>
												<p><a href="product_detail.html/<%= motphantu.ProID%>"><img src="/themes/images/cloth/<%= motphantu.ProID %>/lap.png" alt="" /></a></p>
												<a href="product_detail.html/<%= motphantu.ProID%>" class="title"><%= motphantu.ProName %></a><br/>
												<a href="product_detail.html/<%= motphantu.ProID%>" class="category"><p class="price"><%= motphantu.ProPrice %></p></a>

											</div>
										</li>


										<% }) %>
									</ul>
								</div> 

							</div>							
						</div>
					</div>						
				</div>
				<br/>
				<div class="row">
					<div class="span12">
						<h4 class="title">

							<span class="pull-left"><span class="text"><span class="line"><a href="product_detail.html"><strong>Các sản phẩm bán chạy nhất</strong></a></span></span>
						</span>

						<span class="pull-right">
							<a class="left button" href="#myCarousel-3" data-slide="prev"></a><a class="right button" href="#myCarousel-3" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel-3" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">	
									<% danhsach2.danhsachsv2.forEach(function (motphantu){		%>
									<!-- bo lap -->	


									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="product_detail.html/<%= motphantu.ProID%>"><img src="/themes/images/cloth/<%= motphantu.ProID %>/lap.png" alt="" /></a></p>
											<a href="product_detail.html/<%= motphantu.ProID%>" class="title"><%= motphantu.ProName %></a><br/>
											<a href="product_detail.html/<%= motphantu.ProID%>" class="category"><p class="price"><%= motphantu.ProPrice %></p></a>

										</div>
									</li>

									<!-- -->

									<% }) %>
								</ul>
							</div> 
							<br/>
							<div class="row">
								<div class="span12">
									<h4 class="title">

										<span class="pull-left"><span class="text"><span class="line"><a href="product_detail.html"><strong>Các sản phẩm được xem nhiều nhất</strong></a></span></span>
									</span>

									<span class="pull-right">
										<a class="left button" href="#myCarousel-4" data-slide="prev"></a><a class="right button" href="#myCarousel-4" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-4" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">	
												<% danhsach1.danhsachsv1.forEach(function (motphantu){		%>
												<!-- bo lap -->	


												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="product_detail.html/<%= motphantu.ProID%>"><img src="/themes/images/cloth/<%= motphantu.ProID %>/lap.png" alt="" /></a></p>
														<a href="product_detail.html/<%= motphantu.ProID%>" class="title"><%= motphantu.ProName %></a><br/>
														<a href="product_detail.html/<%= motphantu.ProID%>" class="category"><p class="price"><%= motphantu.ProPrice %></p></a>

													</div>
												</li>

												<!-- -->

												<% }) %>
											</ul>
										</div> 

										<br/>
									</div>		

								</div>	
							</section>
							<% include footer %>